/* // Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ 
 */

//  $bgcolor: lightblue;
//  $textcolor: #000;
//  $fontsize: 16px;
//  $bg-img:'https://images.unsplash.com/photo-1598638077897-d987bbf4f348?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80';
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,500;0,700;1,400&display=swap');

 

 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'IBM Plex Sans', sans-serif;
     
 }

 .intro {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1502481851512-e9e2529bfbf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 62.5%;
}

.intro-align-title {
    margin: 0;
    font-size: 10rem;
    color: #fff;
    letter-spacing: 6px;
}

.intro-align-greetings{
    margin-top: 0;
    font-size: 3.5rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 6px;
}

.intro-align-sub-title {
    font-size:1.5rem;
    font-style: italic;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1px;
}


